body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

/*.Page {*/
    /*display: grid;*/
    /*grid-template-columns: 165px auto;*/
    /*grid-template-rows: 80px auto;*/
    /*grid-template-areas:*/
            /*"header header"*/
            /*"ClassicMenu score-box";*/
    /*height: 100vh;*/
/*}*/

/*.Header {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*background-color: #081621;*/
    /*grid-area: header;*/
/*}*/

/*.menu-icon {*/
    /*padding: 20px;*/
    /*display: none;*/
/*}*/

/*.logo {*/
    /*padding: 20px;*/
/*}*/

/*.ClassicMenu {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*background-color: #2e373e;*/
    /*grid-area: ClassicMenu;*/
/*}*/

/*.SandwichMenu {*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 2;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 3;*/
    /*z-index: 2;*/
    /*background-color: #2e373e;*/
    /*min-height: 100%;*/
/*}*/

/*.menuItem {*/
    /*font-size: 1.3em;*/
    /*padding: 15px;*/
/*}*/

/*.score-box {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-grow: 5;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*background-color: #21282d;*/
    /*grid-area: score-box;*/
/*}*/

/*.competition {*/
    /*width: 587px;*/
    /*background-color: #272f35;*/
    /*margin: 10px;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #272f35;*/
    /*box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.4);*/
/*}*/

/*.competition-header {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*height: 40px;*/
    /*color: #81d4fa;*/
/*}*/

/*.games {*/

/*}*/

/*.game {*/
    /*width: 585px;*/
    /*height: 80px;*/
    /*display: flex;*/
    /*align-content: center;*/
    /*background-color: #2e373e;*/
    /*margin: 1px;*/
/*}*/

/*.game:last-child {*/
    /*border-radius: 0px 0px 10px 10px;*/
/*}*/

/*.leftTeam {*/
    /*display: flex;*/
    /*width: 220px;*/
    /*flex-grow: 3;*/
    /*align-items: center;*/
/*}*/

/*.rightTeam {*/
    /*display: flex;*/
    /*width: 220px;*/
    /*flex-grow: 3;*/
    /*flex-direction: row-reverse;*/
    /*align-items: center;*/
    /*text-align: right;*/
/*}*/

/*.gameInfo {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 145px;*/
    /*flex-grow: 1;*/
    /*color: #81d4fa;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
/*}*/

/*.gameScore {*/
    /*font-size: 2em;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-weight: bold;*/
/*}*/

/*.gameDate {*/
    /*font-size: 1.5em;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-weight: bold;*/
/*}*/

/*.liveResult {*/
    /*background-color: #FF0000;*/
    /*border-radius: 25px;*/
    /*padding: 2px 5px 2px 5px;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-weight: 300;*/
/*}*/

/*.finishedGame {*/
    /*color: #5d93ad;*/
/*}*/

/*.countryFlag {*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*margin: 10px;*/
/*}*/

/*.teamFlag {*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*margin: 10px;*/
/*}*/

/*@media all and (max-width: 767px) {*/
    /*.Page {*/
        /*grid-template-areas:*/
                /*"header header"*/
                /*"score-box score-box";*/
    /*}*/

    /*.ClassicMenu {*/
        /*display: none;*/
    /*}*/

    /*.menu-icon {*/
        /*display: flex;*/
    /*}*/
/*}*/

/*@media all and (max-width: 585px) {*/
    /*.competition {*/
        /*width: 310px;*/
    /*}*/

    /*.game {*/
        /*width: 308px;*/
        /*height: 100px;*/
    /*}*/

    /*.leftTeam {*/
        /*width: 120px;*/
    /*}*/

    /*.rightTeam {*/
        /*width: 120px;*/
    /*}*/

    /*.gameInfo {*/
        /*width: 68px;*/
    /*}*/

    /*.liveResult {*/
        /*height: 6px;*/
    /*}*/

    /*.liveResultText {*/
        /*display: none;*/
    /*}*/

    /*.gameDate {*/
        /*font-size: 1.2em;*/
    /*}*/

    /*.gameScore {*/
        /*font-size: 1.3em;*/
    /*}*/

    /*.teamFlag {*/
        /*margin: 5px;*/
    /*}*/
/*}*/